/*-------------------------------\
| Lagom CSS                      |
| Functional, utility-first CSS  |
|                                |
| Contents:                      |
| - Font faces                   |
| - Font sizes                   |
| - Font styles                  |
| - Text transforms              |
| - Text decoration              |
| - Line heights                 |
| - Letter spacing               |
| - Margins                      |
| - Padding                      |
| - Outline                      |
| - Borders                      |
| - Opacity                      |
| - Input resets                 |
\-------------------------------*/

/* Font faces */
.sans { font-family: -apple-system, BlinkMacSystemFont, 'avenir next ', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }
.system-sans { font-family: sans-serif; }
.serif { font-family: georgia, times, serif; }
.system-serif { font-family: serif; }
.code { font-family: Consolas, monaco, monospace; }
.system-code { font-family: monospace; }

/* Font sizes */
/* Source: https://rsms.me/inter/dynmetrics/ */
.f1 {
  font-size: 40px;
  letter-spacing: -0.022em;
  line-height: 56px;
}
.f2 {
  font-size: 24px;
  letter-spacing: -0.019em;
  line-height: 34px;
}
.f3 {
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
}
.f4 {
  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 22px;
}
.f5 {
  font-size: 14px;
  letter-spacing: -0.006em;
  line-height: 20px;
}
.f6 {
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 17px;
}

/* Font styles */
.i { font-style: italic; }
.n { font-style: normal; }
.b { font-weight: bold; }

/* Text transforms */
.capitalize { text-transform: capitalize; }
.lower { text-transform: lowercase; }
.upper { text-transform: uppercase; }
.upper-s { font-variant: small-caps; }

/* Text decoration */
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }
.decoration-none { text-decoration: none; }

/* Line heights */
.lh1 { line-height: 1; }
.lh125 { line-height: 1.25; }
.lh150 { line-height: 1.5; }

/* Letter spacing */
.ls0 { letter-spacing: 0; }
.ls-tight { letter-spacing: -0.05em; }
.ls-wide { letter-spacing: 0.05em; }

/* Margins */
/* Increments by 1rem */
.m0 { margin: 0; }
.m1 { margin: 1rem; }
.m2 { margin: 2rem; }
.m3 { margin: 3rem; }
.m4 { margin: 4rem; }
.m5 { margin: 5rem; }
.m6 { margin: 6rem; }

.mt0 { margin-top: 0; }
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.mt5 { margin-top: 5rem; }
.mt6 { margin-top: 6rem; }

.mr0 { margin-right: 0; }
.mra { margin-right: auto; }
.mr1 { margin-right: 1rem; }
.mr2 { margin-right: 2rem; }
.mr3 { margin-right: 3rem; }
.mr4 { margin-right: 4rem; }
.mr5 { margin-right: 5rem; }
.mr6 { margin-right: 6rem; }

.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }
.mb5 { margin-bottom: 5rem; }
.mb6 { margin-bottom: 6rem; }

.ml0 { margin-left: 0; }
.mla { margin-left: auto; }
.ml1 { margin-left: 1rem; }
.ml2 { margin-left: 2rem; }
.ml3 { margin-left: 3rem; }
.ml4 { margin-left: 4rem; }
.ml5 { margin-left: 5rem; }
.ml6 { margin-left: 6rem; }

/* Padding */
/* Increments by 0.25rem */
.p0 { padding: 0; }
.p1 { padding: 0.25rem; }
.p2 { padding: 0.5rem; }
.p3 { padding: 0.75rem; }
.p4 { padding: 1rem; }
.p5 { padding: 1.25rem; }
.p6 { padding: 1.5rem; }

.pt0 { padding-top: 0; }
.pt1 { padding-top: 0.25rem; }
.pt2 { padding-top: 0.5rem; }
.pt3 { padding-top: 0.75rem; }
.pt4 { padding-top: 1rem; }
.pt5 { padding-top: 1.25rem; }
.pt6 { padding-top: 1.5rem; }

.pr0 { padding-right: 0; }
.pr1 { padding-right: 0.25rem; }
.pr2 { padding-right: 0.5rem; }
.pr3 { padding-right: 0.75rem; }
.pr4 { padding-right: 1rem; }
.pr5 { padding-right: 1.25rem; }
.pr6 { padding-right: 1.5rem; }

.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: 0.25rem; }
.pb2 { padding-bottom: 0.5rem; }
.pb3 { padding-bottom: 0.75rem; }
.pb4 { padding-bottom: 1rem; }
.pb5 { padding-bottom: 1.25rem; }
.pb6 { padding-bottom: 1.5rem; }

.pl0 { padding-left: 0; }
.pl1 { padding-left: 0.25rem; }
.pl2 { padding-left: 0.5rem; }
.pl3 { padding-left: 0.75rem; }
.pl4 { padding-left: 1rem; }
.pl5 { padding-left: 1.25rem; }
.pl6 { padding-left: 1.5rem; }

/* Outline */
.outline { outline: 1px solid; }
.outline-hidden { outline: 1px solid transparent; }
.outline-none { outline: 0; }

/* Borders */
.b0 { border-style: none; border-width: 0; }
.ba { border-width: 1px; border-style: solid; }
.bt { border-top-width: 1px; border-style: solid; }
.br { border-right-width: 1px; border-style: solid; }
.bb { border-bottom-width: 1px; border-style: solid; }
.bl { border-left-width: 1px; border-style: solid; }

.br1 { border-radius: .125rem; }
.br2 { border-radius: .25rem; }
.br3 { border-radius: .5rem; }
.br4 { border-radius: 1rem; }
.br5 { border-radius: 2rem; }
.br6 { border-radius: 4rem; }
.br100 { border-radius: 100%; }
.pill { border-radius: 9999px; }

.brt0 { border-top-left-radius: 0; border-top-right-radius: 0; }
.brb0 { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.brl0 { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.brr0 { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.dotted { border-style: dotted; }
.dashed { border-style: dashed; }
.solid { border-style: solid; }

.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.bw4 { border-width: 1rem; }
.bw5 { border-width: 2rem; }
.bw6 { border-width: 4rem; }

.bt0 { border-top-width: 0; }
.br0 { border-right-width: 0; }
.bb0 { border-bottom-width: 0; }
.bl0 { border-left-width: 0; }

/* Opacity */
.o0 { opacity: 0; }
.o10 { opacity: .1; }
.o20 { opacity: .2; }
.o30 { opacity: .3; }
.o40 { opacity: .4; }
.o50 { opacity: .5; }
.o60 { opacity: .6; }
.o70 { opacity: .7; }
.o80 { opacity: .8; }
.o90 { opacity: .9; }
.o100 { opacity: 1; }

/* Input resets */
.reset-list { list-style-type: none; }

/* Source: https://github.com/tachyons-css/tachyons/blob/master/css/tachyons.css */
.reset-input { -webkit-appearance: none; -moz-appearance: none; }
.reset-button::-moz-focus-inner, .reset-button::-moz-focus-inner { border: 0; padding: 0; }
