/*-------------------------------\
| Lagom CSS                      |
| Functional, utility-first CSS  |
|                                |
| Contents:                      |
| - Rhythm                       |
| - Font faces                   |
| - Font sizes                   |
| - Font styles                  |
| - Text transforms              |
| - Text decoration              |
| - Whitespace                   |
| - Text align                   |
| - Floats                       |
| - Clearfix                     |
| - Line heights                 |
| - Letter spacing               |
| - Positioning                  |
| - Margins                      |
| - Padding                      |
| - Outline                      |
| - Borders                      |
| - Opacity                      |
| - Resets                       |
| - Widths                       |
| - Max widths                   |
| - Min widths                   |
| - Heights                      |
| - Max heights                  |
| - Min heights                  |
| - Display                      |
| - Z-index                      |
\-------------------------------*/

/* Rhythm  */
/* Used to compute 6, evenly-sized size increments */
rhythm(min, max, i)
  min + (((max - min) / 5) * (6 - i))

/* Font faces */
.sans { font-family: -apple-system, BlinkMacSystemFont, 'avenir next ', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }
.system-sans { font-family: sans-serif; }
.serif { font-family: georgia, times, serif; }
.system-serif { font-family: serif; }
.code { font-family: Consolas, monaco, monospace; }
.system-code { font-family: monospace; }

/* Font sizes */
/* Source: https://rsms.me/inter/dynmetrics/ */
.f1 {
  font-size: 40px;
  letter-spacing: -0.022em;
  line-height: 56px;
}
.f2 {
  font-size: 24px;
  letter-spacing: -0.019em;
  line-height: 34px;
}
.f3 {
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
}
.f4 {
  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 22px;
}
.f5 {
  font-size: 14px;
  letter-spacing: -0.006em;
  line-height: 20px;
}
.f6 {
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 17px;
}

/* Font styles */
.i { font-style: italic; }
.n { font-style: normal; }
.b { font-weight: bold; }

/* Text transforms */
.capitalize { text-transform: capitalize; }
.lower { text-transform: lowercase; }
.upper { text-transform: uppercase; }
.upper-s { font-variant: small-caps; }

/* Text decoration */
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }
.decoration-none { text-decoration: none; }

/* Whitespace */
.nowrap { white-space: nowrap; }
.pre { white-space: pre; }
.pre-line { white-space: pre-line; }

/* Text align */
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }
.tj { text-align: justify; }

/* Floats */
.fl { float: left; }
.fr { float: right; }

/* Clearfix */
/* Source: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

/* Line heights */
.lh1 { line-height: rhythm(1, 2, 1); }
.lh2 { line-height: rhythm(1, 2, 2); }
.lh3 { line-height: rhythm(1, 2, 3); }
.lh4 { line-height: rhythm(1, 2, 4); }
.lh5 { line-height: rhythm(1, 2, 5); }
.lh6 { line-height: rhythm(1, 2, 6); }

/* Letter spacing */
.ls0 { letter-spacing: 0; }
.ls1 { letter-spacing: rhythm(-0.1rem, 0.5rem, 1); }
.ls2 { letter-spacing: rhythm(-0.1rem, 0.5rem, 2); }
.ls3 { letter-spacing: rhythm(-0.1rem, 0.5rem, 3); }
.ls4 { letter-spacing: rhythm(-0.1rem, 0.5rem, 4); }
.ls5 { letter-spacing: rhythm(-0.1rem, 0.5rem, 5); }
.ls6 { letter-spacing: rhythm(-0.1rem, 0.5rem, 6); }

/* Positioning */
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.static { position: static; }

.top0 { top: 0; }
.top1 { top: rhythm(1rem, 6rem, 6); }
.top2 { top: rhythm(1rem, 6rem, 5); }
.top3 { top: rhythm(1rem, 6rem, 4); }
.top4 { top: rhythm(1rem, 6rem, 3); }
.top5 { top: rhythm(1rem, 6rem, 2); }
.top6 { top: rhythm(1rem, 6rem, 1); }

.right0 { right: 0; }
.right1 { right: rhythm(1rem, 6rem, 6); }
.right2 { right: rhythm(1rem, 6rem, 5); }
.right3 { right: rhythm(1rem, 6rem, 4); }
.right4 { right: rhythm(1rem, 6rem, 3); }
.right5 { right: rhythm(1rem, 6rem, 2); }
.right6 { right: rhythm(1rem, 6rem, 1); }

.bottom0 { bottom: 0; }
.bottom1 { bottom: rhythm(1rem, 6rem, 6); }
.bottom2 { bottom: rhythm(1rem, 6rem, 5); }
.bottom3 { bottom: rhythm(1rem, 6rem, 4); }
.bottom4 { bottom: rhythm(1rem, 6rem, 3); }
.bottom5 { bottom: rhythm(1rem, 6rem, 2); }
.bottom6 { bottom: rhythm(1rem, 6rem, 1); }

.left0 { left: 0; }
.left1 { left: rhythm(1rem, 6rem, 6); }
.left2 { left: rhythm(1rem, 6rem, 5); }
.left3 { left: rhythm(1rem, 6rem, 4); }
.left4 { left: rhythm(1rem, 6rem, 3); }
.left5 { left: rhythm(1rem, 6rem, 2); }
.left6 { left: rhythm(1rem, 6rem, 1); }

/* Margins */
/* Increments by 1rem */
.m0 { margin: 0; }
.m1 { margin: rhythm(1rem, 6rem, 1); }
.m2 { margin: rhythm(1rem, 6rem, 2); }
.m3 { margin: rhythm(1rem, 6rem, 3); }
.m4 { margin: rhythm(1rem, 6rem, 4); }
.m5 { margin: rhythm(1rem, 6rem, 5); }
.m6 { margin: rhythm(1rem, 6rem, 6); }

.mt0 { margin-top: 0; }
.mt1 { margin-top: rhythm(1rem, 6rem, 1); }
.mt2 { margin-top: rhythm(1rem, 6rem, 2); }
.mt3 { margin-top: rhythm(1rem, 6rem, 3); }
.mt4 { margin-top: rhythm(1rem, 6rem, 4); }
.mt5 { margin-top: rhythm(1rem, 6rem, 5); }
.mt6 { margin-top: rhythm(1rem, 6rem, 6); }

.mr0 { margin-right: 0; }
.mra { margin-right: auto; }
.mr1 { margin-right: rhythm(1rem, 6rem, 1); }
.mr2 { margin-right: rhythm(1rem, 6rem, 2); }
.mr3 { margin-right: rhythm(1rem, 6rem, 3); }
.mr4 { margin-right: rhythm(1rem, 6rem, 4); }
.mr5 { margin-right: rhythm(1rem, 6rem, 5); }
.mr6 { margin-right: rhythm(1rem, 6rem, 6); }

.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: rhythm(1rem, 6rem, 1); }
.mb2 { margin-bottom: rhythm(1rem, 6rem, 2); }
.mb3 { margin-bottom: rhythm(1rem, 6rem, 3); }
.mb4 { margin-bottom: rhythm(1rem, 6rem, 4); }
.mb5 { margin-bottom: rhythm(1rem, 6rem, 5); }
.mb6 { margin-bottom: rhythm(1rem, 6rem, 6); }

.ml0 { margin-left: 0; }
.mla { margin-left: auto; }
.ml1 { margin-left: rhythm(1rem, 6rem, 1); }
.ml2 { margin-left: rhythm(1rem, 6rem, 2); }
.ml3 { margin-left: rhythm(1rem, 6rem, 3); }
.ml4 { margin-left: rhythm(1rem, 6rem, 4); }
.ml5 { margin-left: rhythm(1rem, 6rem, 5); }
.ml6 { margin-left: rhythm(1rem, 6rem, 6); }

/* Padding */
/* Increments by 0.25rem */
.p0 { padding: 0; }
.p1 { padding: rhythm(0.25rem, 1.5rem, 1); }
.p2 { padding: rhythm(0.25rem, 1.5rem, 2); }
.p3 { padding: rhythm(0.25rem, 1.5rem, 3); }
.p4 { padding: rhythm(0.25rem, 1.5rem, 4); }
.p5 { padding: rhythm(0.25rem, 1.5rem, 5); }
.p6 { padding: rhythm(0.25rem, 1.5rem, 6); }

.pt0 { padding-top: 0; }
.pt1 { padding-top: rhythm(0.25rem, 1.5rem, 1); }
.pt2 { padding-top: rhythm(0.25rem, 1.5rem, 2); }
.pt3 { padding-top: rhythm(0.25rem, 1.5rem, 3); }
.pt4 { padding-top: rhythm(0.25rem, 1.5rem, 4); }
.pt5 { padding-top: rhythm(0.25rem, 1.5rem, 5); }
.pt6 { padding-top: rhythm(0.25rem, 1.5rem, 6); }

.pr0 { padding-right: 0; }
.pr1 { padding-right: rhythm(0.25rem, 1.5rem, 1); }
.pr2 { padding-right: rhythm(0.25rem, 1.5rem, 2); }
.pr3 { padding-right: rhythm(0.25rem, 1.5rem, 3); }
.pr4 { padding-right: rhythm(0.25rem, 1.5rem, 4); }
.pr5 { padding-right: rhythm(0.25rem, 1.5rem, 5); }
.pr6 { padding-right: rhythm(0.25rem, 1.5rem, 6); }

.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: rhythm(0.25rem, 1.5rem, 1); }
.pb2 { padding-bottom: rhythm(0.25rem, 1.5rem, 2); }
.pb3 { padding-bottom: rhythm(0.25rem, 1.5rem, 3); }
.pb4 { padding-bottom: rhythm(0.25rem, 1.5rem, 4); }
.pb5 { padding-bottom: rhythm(0.25rem, 1.5rem, 5); }
.pb6 { padding-bottom: rhythm(0.25rem, 1.5rem, 6); }

.pl0 { padding-left: 0; }
.pl1 { padding-left: rhythm(0.25rem, 1.5rem, 1); }
.pl2 { padding-left: rhythm(0.25rem, 1.5rem, 2); }
.pl3 { padding-left: rhythm(0.25rem, 1.5rem, 3); }
.pl4 { padding-left: rhythm(0.25rem, 1.5rem, 4); }
.pl5 { padding-left: rhythm(0.25rem, 1.5rem, 5); }
.pl6 { padding-left: rhythm(0.25rem, 1.5rem, 6); }

/* Outline */
.outline { outline: 1px solid; }
.outline-hidden { outline: 1px solid transparent; }
.outline-none { outline: 0; }

/* Borders */
.b0 { border-style: none; border-width: 0; }
.ba { border-width: 1px; border-style: solid; }
.bt { border-top-width: 1px; border-style: solid; }
.br { border-right-width: 1px; border-style: solid; }
.bb { border-bottom-width: 1px; border-style: solid; }
.bl { border-left-width: 1px; border-style: solid; }

.br1 { border-radius: rhythm(0.125rem, 4rem, 1); }
.br2 { border-radius: rhythm(0.125rem, 4rem, 2); }
.br3 { border-radius: rhythm(0.125rem, 4rem, 3); }
.br4 { border-radius: rhythm(0.125rem, 4rem, 4); }
.br5 { border-radius: rhythm(0.125rem, 4rem, 5); }
.br6 { border-radius: rhythm(0.125rem, 4rem, 6); }
.br100 { border-radius: 100%; }
.pill { border-radius: 9999px; }

.brt0 { border-top-left-radius: 0; border-top-right-radius: 0; }
.brb0 { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.brl0 { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.brr0 { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.dotted { border-style: dotted; }
.dashed { border-style: dashed; }
.solid { border-style: solid; }

.bw1 { border-width: rhythm(0.125rem, 4rem, 1); }
.bw2 { border-width: rhythm(0.125rem, 4rem, 2); }
.bw3 { border-width: rhythm(0.125rem, 4rem, 3); }
.bw4 { border-width: rhythm(0.125rem, 4rem, 4); }
.bw5 { border-width: rhythm(0.125rem, 4rem, 5); }
.bw6 { border-width: rhythm(0.125rem, 4rem, 6); }

.bt0 { border-top-width: 0; }
.br0 { border-right-width: 0; }
.bb0 { border-bottom-width: 0; }
.bl0 { border-left-width: 0; }

/* Opacity */
.o0 { opacity: 0; }
.o1 { opacity: rhythm(0.05, 1, 1); }
.o2 { opacity: rhythm(0.05, 1, 2); }
.o3 { opacity: rhythm(0.05, 1, 3); }
.o4 { opacity: rhythm(0.05, 1, 4); }
.o5 { opacity: rhythm(0.05, 1, 5); }
.o6 { opacity: rhythm(0.05, 1, 6); }

.o10 { opacity: .1; }
.o20 { opacity: .2; }
.o25 { opacity: .25; }
.o30 { opacity: .3; }
.o40 { opacity: .4; }
.o50 { opacity: .5; }
.o60 { opacity: .6; }
.o70 { opacity: .7; }
.o75 { opacity: .75; }
.o80 { opacity: .8; }
.o90 { opacity: .9; }
.o100 { opacity: 1; }

/* Resets */
.reset-list {
  list-style-type: none;
  padding-left: 0;
}

/* Source: https://github.com/tachyons-css/tachyons/blob/master/css/tachyons.css */
.reset-input { -webkit-appearance: none; -moz-appearance: none; }
.reset-button::-moz-focus-inner, .reset-button::-moz-focus-inner { border: 0; padding: 0; }

/* Widths */
.w0 { width: 0; }
.w1 { width: rhythm(1rem, 6rem, 1); }
.w2 { width: rhythm(1rem, 6rem, 2); }
.w3 { width: rhythm(1rem, 6rem, 3); }
.w4 { width: rhythm(1rem, 6rem, 4); }
.w5 { width: rhythm(1rem, 6rem, 5); }
.w6 { width: rhythm(1rem, 6rem, 6); }

.w10 { width: 10%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }

/* Max widths */
.mw1 { max-width: rhythm(2rem, 64rem, 1); }
.mw2 { max-width: rhythm(2rem, 64rem, 2); }
.mw3 { max-width: rhythm(2rem, 64rem, 3); }
.mw4 { max-width: rhythm(2rem, 64rem, 4); }
.mw5 { max-width: rhythm(2rem, 64rem, 5); }
.mw6 { max-width: rhythm(2rem, 64rem, 6); }

.mw10 { max-width: 10%; }
.mw20 { max-width: 20%; }
.mw30 { max-width: 30%; }
.mw40 { max-width: 40%; }
.mw50 { max-width: 50%; }
.mw60 { max-width: 60%; }
.mw70 { max-width: 70%; }
.mw80 { max-width: 80%; }
.mw90 { max-width: 90%; }
.mw100 { max-width: 100%; }

.mw10vw { max-width: 10vw; }
.mw20vw { max-width: 20vw; }
.mw30vw { max-width: 30vw; }
.mw40vw { max-width: 40vw; }
.mw50vw { max-width: 50vw; }
.mw60vw { max-width: 60vw; }
.mw70vw { max-width: 70vw; }
.mw80vw { max-width: 80vw; }
.mw90vw { max-width: 90vw; }
.mw100vw { max-width: 100vw; }

/* Min widths */
.minw1 { min-width: rhythm(2rem, 64rem, 1); }
.minw2 { min-width: rhythm(2rem, 64rem, 2); }
.minw3 { min-width: rhythm(2rem, 64rem, 3); }
.minw4 { min-width: rhythm(2rem, 64rem, 4); }
.minw5 { min-width: rhythm(2rem, 64rem, 5); }
.minw6 { min-width: rhythm(2rem, 64rem, 6); }

.minw10 { min-width: 10%; }
.minw20 { min-width: 20%; }
.minw30 { min-width: 30%; }
.minw40 { min-width: 40%; }
.minw50 { min-width: 50%; }
.minw60 { min-width: 60%; }
.minw70 { min-width: 70%; }
.minw80 { min-width: 80%; }
.minw90 { min-width: 90%; }
.minw100 { min-width: 100%; }

.minw10vw { min-width: 10vw; }
.minw20vw { min-width: 20vw; }
.minw30vw { min-width: 30vw; }
.minw40vw { min-width: 40vw; }
.minw50vw { min-width: 50vw; }
.minw60vw { min-width: 60vw; }
.minw70vw { min-width: 70vw; }
.minw80vw { min-width: 80vw; }
.minw90vw { min-width: 90vw; }
.minw100vw { min-width: 100vw; }

/* Heights */
.h0 { height: 0; }
.h1 { height: rhythm(1rem, 6rem, 1); }
.h2 { height: rhythm(1rem, 6rem, 2); }
.h3 { height: rhythm(1rem, 6rem, 3); }
.h4 { height: rhythm(1rem, 6rem, 4); }
.h5 { height: rhythm(1rem, 6rem, 5); }
.h6 { height: rhythm(1rem, 6rem, 6); }

.h10 { height: 10%; }
.h20 { height: 20%; }
.h25 { height: 25%; }
.h30 { height: 30%; }
.h40 { height: 40%; }
.h50 { height: 50%; }
.h60 { height: 60%; }
.h70 { height: 70%; }
.h75 { height: 75%; }
.h80 { height: 80%; }
.h90 { height: 90%; }
.h100 { height: 100%; }

/* Max heights */
.mh1 { max-height: rhythm(2rem, 64rem, 1); }
.mh2 { max-height: rhythm(2rem, 64rem, 2); }
.mh3 { max-height: rhythm(2rem, 64rem, 3); }
.mh4 { max-height: rhythm(2rem, 64rem, 4); }
.mh5 { max-height: rhythm(2rem, 64rem, 5); }
.mh6 { max-height: rhythm(2rem, 64rem, 6); }

.mh10 { max-height: 10%; }
.mh20 { max-height: 20%; }
.mh30 { max-height: 30%; }
.mh40 { max-height: 40%; }
.mh50 { max-height: 50%; }
.mh60 { max-height: 60%; }
.mh70 { max-height: 70%; }
.mh80 { max-height: 80%; }
.mh90 { max-height: 90%; }
.mh100 { max-height: 100%; }

.mh10vh { max-height: 10vh; }
.mh20vh { max-height: 20vh; }
.mh30vh { max-height: 30vh; }
.mh40vh { max-height: 40vh; }
.mh50vh { max-height: 50vh; }
.mh60vh { max-height: 60vh; }
.mh70vh { max-height: 70vh; }
.mh80vh { max-height: 80vh; }
.mh90vh { max-height: 90vh; }
.mh100vh { max-height: 100vh; }

/* Min heights */
.minh1 { min-height: rhythm(2rem, 64rem, 1); }
.minh2 { min-height: rhythm(2rem, 64rem, 2); }
.minh3 { min-height: rhythm(2rem, 64rem, 3); }
.minh4 { min-height: rhythm(2rem, 64rem, 4); }
.minh5 { min-height: rhythm(2rem, 64rem, 5); }
.minh6 { min-height: rhythm(2rem, 64rem, 6); }

.minh10 { min-height: 10%; }
.minh20 { min-height: 20%; }
.minh30 { min-height: 30%; }
.minh40 { min-height: 40%; }
.minh50 { min-height: 50%; }
.minh60 { min-height: 60%; }
.minh70 { min-height: 70%; }
.minh80 { min-height: 80%; }
.minh90 { min-height: 90%; }
.minh100 { min-height: 100%; }

.minh10vh { min-height: 10vh; }
.minh20vh { min-height: 20vh; }
.minh30vh { min-height: 30vh; }
.minh40vh { min-height: 40vh; }
.minh50vh { min-height: 50vh; }
.minh60vh { min-height: 60vh; }
.minh70vh { min-height: 70vh; }
.minh80vh { min-height: 80vh; }
.minh90vh { min-height: 90vh; }
.minh100vh { min-height: 100vh; }

/* Display */
.dn { display: none; }
.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }

/* Z-index */
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
.z6 { z-index: 6; }
